
.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
}


@media (min-width: 768px) {
  .container {
    padding: 20px;
    display:flex;
    flex-direction: column;
  }

}


.image-holder {

  width: 100%; 
}

.image-holder img {
  max-width: 100%; 
  height: auto;  
  display: block; 
  margin: 0 auto; 
}